<div class="container">
  <div class="row" *ngFor="let team of teams">
    <div class="team col-12 col-md-6 mb-4">
      <span class="team-info-name">
        <img
          [src]="'../../../assets/images/team-logos/' + team?.id + '.jpg'"
          style="max-width: 125px; max-height: 60px;"
        />
        {{team?.data?.name}}</span
      >
      <img
      [src]="'../../../assets/images/cars-full/' + team?.id + '.png'"
        width="100%"
      />
    </div>
    <div class="col-12 col-md-6 mb-4">
      <div class="row">
        <div class="col-6" *ngFor="let driver of team?.data?.drivers; index as i">
          <div style="border: 1px solid #ddd;">
            <img
            [src]="'../../../assets/images/drivers-img/' + team?.id + '-' + i + '.png'"
              width="100%"
            />
            <div class="rider-name-box">{{driver}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
