<div class="container">
  <div class="col-12 pb-4">
    <h4 class="text-center mb-4">Reglamento oficial campeonato Formula Payo</h4>

    <b>
      Todos los puntos que estén escritos en este reglamento son importantes y
      debes tenerlos en cuenta siempre para participar en la competición, no te
      preocupes, cuando lleves unas pocas carreras con nosotros te los sabrás de
      memoria.</b
    >
    <br /><br />

    Si necesitas alguna aclaración de este reglamento o quieres hacer alguna
    sugerencia, por favor pon tu duda en el apartado
    <i><b>dudas-sugerencias</b></i> del servidor de discord del campeonato.
    <br /><br />

    <h5>Grandes premios</h5>

    Los grandes premios se disputarán cada domingo a las 19:00 horas (hora
    Española) excepto cuando este horario se solape con el Gran Premio de la F1
    real. Es posible que la organización pase alguna carrera a disputarse otro
    día por motivos tales como problemas de conexión, festividades,
    etc...Cualquier cambio de horario será avisado con antelación en el apartado
    de
    <i><b>anuncios</b></i> del servidor de Discord. <br /><br />

    La sala se creará 10 minutos antes para que los pilotos puedan unirse,
    adicionalmente se concederán 5 minutos de cortesía a aquellos pilotos que lo
    soliciten o bien no se encuentren en la sala y hayan confirmado.
    <br /><br />
    El gran premio constará de una sesión de clasificación corta de 18 minutos
    de duración seguido de una vuelta de formación y carrera al 50% de la
    distancia. <br />
    El sistema de puntuación será el que usa la F1 Real, es decir: <br /><br />

    <ol>
      <li>25 PUNTOS</li>
      <li>18 PUNTOS</li>
      <li>15 PUNTOS</li>
      <li>12 PUNTOS</li>
      <li>10 PUNTOS</li>
      <li>8 PUNTOS</li>
      <li>6 PUNTOS</li>
      <li>4 PUNTOS</li>
      <li>2 PUNTOS</li>
      <li>1 PUNTO</li>
    </ol>

    El piloto que haga la vuelta rápida será recompensado con 1 punto adicional
    para la clasificación de pilotos y también para su escudería, el único
    requisito para asignar el punto es que el piloto que tenga la vuelta rápida
    esté dentro de los puntos (Top 10), en caso de que un piloto consiga la
    vuelta rápida y este fuera del Top 10 no será recompensado con un punto
    extra y tampoco lo será el piloto del Top 10 que tenga la mejor vuelta
    rápida. <br /><br />

    Si un piloto sufre una descalificación de la carrera este no sumará ningún
    punto para el campeonato. Destacar también que para sumar puntos los pilotos
    deberán de completar el 90% de la distancia de la carrera. Dependiendo de
    las circunstancias y de las pruebas proporcionadas (onboard del piloto,
    delta con los pilotos a su alrededor), se puede llegar a una conclusión que
    beneficie al piloto dado su esfuerzo. <br /><br />

    La opción de carrera de fantasma estará deshabilitada en todas las sesiones,
    esto quiere decir que los pilotos doblados deberán apartarse cuando vean la
    señal de bandera azul que indica que están siendo doblados. Si no lo hacen
    serán penalizados por el juego, y si causan algún incidente, el comisario
    aplicar más sanciones si lo estima oportuno.
    <br /><br />

    Las condiciones meteorológicas del Gran Premio serán las mismas que hayan
    ocurrido en la carrera de F1 real, incluyendo posibles cambios de
    meteorología durante la clasificación o carrera. En caso de que el GP
    disputado no sea el mismo que la vida real, se usará la meteorología del
    circuito a la hora de la disputa del Gran Premio. <br /><br />

    La ayuda de asistencia de salida en boxes estará desactivada, lo que quiere
    decir que cada piloto deberá activar/desactivar el limitador de boxes de
    manera manual. En el caso de que algún piloto sea sancionado injustamente,
    el Comisario podrá revisarlo y retirar la sanción. Se considera sanción
    injusta ir sobre el límite de velocidad ir a la misma velocidad exacta que
    el limite del pitlane.
    <br /><br />

    <h5>Asistencia a los Grandes Premios</h5>

    Todo piloto inscrito en el campeonato, dando igual que sea titular o reserva
    deberá de confirmar su asistencia o su no asistencia o su situación de duda
    para la siguiente carrera que se dispute en el apartado
    <i><b>proxima-carrera</b></i> del servidor de Discord. <br /><br />

    Si un piloto no confirma y es piloto titular, podrá perder su plaza en la
    carrera en favor de un reserva que haya confirmado su asistencia. Los
    pilotos que no confirmen serán sancionados con el incremento de 10s sobre su
    tiempo final de carrera y esta sanción se aplicará siempre y cuando el
    piloto acabe la carrera. En caso de quedar doblado, el piloto perderá
    posiciones según sanciones tenga. <br /><br />

    Las sanciones son acumulativas, es decir, si por ejemplo un piloto tiene
    tres sanciones de 10s por no confirmar asistencia deberá cumplir con una
    sanción de 30s. Las sanciones de no clasificar son acumulativas con las
    impuestas por los Comisarios. <br /><br />

    Entendemos como falta de compromiso si un piloto titular no acude a tres
    carreras consecutivas sin confirmar su no asistencia a las carreras. También
    consideraremos falta de compromiso si un piloto no se presenta a las
    carreras sin avisar seis veces de forma alterna, en estos casos el piloto
    será expulsado de la temporada quedando a criterio de la organización
    dejarle o no participar durante la temporada en calidad de reserva y por
    supuesto a criterio de la organización dejarle participar en siguientes
    temporadas. <br /><br />

    Si un piloto no asiste a las carreras pero confirma su no asistencia en el
    plazo se le considerará como ausencia justificada. En caso de no confirmar
    su no asistencia tendrá hasta las 23:59 horas del día de la carrera para
    ponerse en contacto con la organización para informar del motivo por el que
    no ha podido acudir a la carrera (no siendo por supuesto obligatorio entrar
    en detalles de por que no se ha asistido). <br /><br />

    Un piloto podrá encadenar hasta cinco faltas consecutivas justificadas, al
    llegar a la sexta el piloto pasará a ser reserva, lo mismo si son ocho de
    forma no consecutiva. Los pilotos reservas también se rigen por esta
    normativa, excepto en las faltas justificadas, que podrán sumar todas las
    que sean necesarias y no perderán su plaza. <br /><br />

    Para que la carrera se dispute en condiciones normales tiene que estar
    presente el 30% de la parrilla actual, en caso contrario la organización
    aplazará la carrera a una fecha posterior. <br /><br />

    <h5>Comportamiento en carrera</h5>

    En este videojuego ir con el juego pausado hace que el coche lleve un ritmo
    alto y encima el desgaste es casi nulo, además en situaciones con SC el
    riesgo de colisionar es mayor y puede provocar que el coche se glitchee.
    Además, desde la organización creemos que el videojuego es para competir y
    no para ir en "Piloto Automático". Por tanto, la dificultad de la CPU será
    establecida en "Muy fácil" para así evitar posibles abusos de esta
    práctica<br /><br />

    Si algún piloto sufre una caída del servidor por desconexión o por error del
    juego podrá volver a unirse a la sala a través de una invitación o desde el
    menú de amigos de Steam. Cabe mencionar que si el piloto no regresa y la IA
    se queda dando vueltas ese piloto no contabilizará para la clasificación del
    gran premio, al terminar la carrera se desplazará al Piloto IA a la posición
    que se hubiera quedado con una rotura de monoplaza. <br />
    Incumplir esta normativa se sanciona con descalificación del gran premio y
    del siguiente.<br /><br />

    Antes de comenzar la carrera se dará una vuelta de formación que servirá
    para poner los neumáticos en temperatura óptima para afrontar la salida. La
    vuelta de formación se rige por las siguientes normas: <br /><br />
    <ul>
      <li>Hay que conservar la posición de salida</li>
      <li>
        No se podrá adelantar a nadie durante la vuelta de formación, ya que se
        conceptúa como una vuelta con bandera amarilla en todas las partes del
        circuito.
      </li>
      <li>
        Si por error se adelanta habrá que ceder en un plazo máximo de cinco
        segundos la posición
      </li>
      <li>
        Si un piloto pierde el control del monoplaza en la Vuelta de Formación
        se le puede adelantar, el piloto accidentado deberá de conservar la
        posición en la que se reincorpore. El incumplimiento de esta norma se
        castiga con reprimenda + 5s
      </li>
      <li>
        La salida con vuelta de formación debe de hacerse en orden, ir saliendo
        de uno en uno, primero los pilotos clasificados en primeras posiciones,
        así hasta el último clasificado. Golpear a otro rival es posible sanción
        y los Comisarios valorarán cúal imponer en caso de una reclamación.
      </li>
    </ul>
    Un piloto podrá retirarse de la sesión cuando estime oportuno, pero deberá
    de hacerlo en un lugar donde su coche no moleste a otros pilotos ya sea por
    que la IA se queda dando vueltas sola o bien por que la IA lo desplace al
    medio, los Comisarios podrían sancionar esta acción según corresponda con la
    tabla de sanciones. <br /><br />

    <h5>Sanciones</h5>

    Durante la sesión de clasificación, un piloto que marque su vuelta rápida
    con un juego de neumáticos y se coloque en el Top 10, en caso de que dicho
    piloto tenga un accidente intencionado que provoque un daño terminal con ese
    mismo juego de neumáticos, el piloto será sancionado con la salida desde la
    última posición de la parrilla. Esto es debido a que el juego no nos deja
    poner ese juego de neumáticos para la carrera y nos colocaría un juego
    nuevo, lo que otorgaría una ventaja sustancial respecto al resto.
    <br /><br />
    Si durante la sesión de clasificación se produce algún incidente reclamable
    por un piloto o el comisario, se podrá crear una nueva sala para revisar y
    aplicar las sanciones pertinentes en la parrilla. En caso de que algún
    piloto tenga que reclamar que alguien la ha entorpecido la vuelta etc, se
    deberá informar de inmediato al Comisario mediante el canal de
    <i><b>reclamaciones</b></i> del servidor de Discord. <br /><br />

    Se recomienda encarecidamente a todos los pilotos que graben tanto la sesión
    de clasificación como la carrera, ya que de esta forma, si se produce algún
    incidente, aunque no estés implicado, tu punto de vista puede aportar
    claridad a la acción.<br />
    En caso de que en un incidente entre 2 pilotos solo uno muestre su punto de
    vista, el Comisario actuará según su criterio y las evidencias de las que
    dispone. <br /><br />

    Se pueden utilizar clips de Twitch o Youtube. A parte de esto, aplicaciones
    como Fraps o en Nvidia Geforce Experience son buenas opciones para grabar la
    carrera. En caso de no poder grabar debido a las limitaciones de PC no
    afectará en nada, pero no se podrá discutir ningún incidente o rebatir una
    onboard de un rival en el que se esté involucrado debido a la falta de
    pruebas, a no ser que un tercero, testigo del incidente, aporte su
    onboard.<br /><br />

    La opción del menú de volver a pista SÓLO podrá ser utilizada cuando sea
    seguro reincorporarse y no haya ningún piloto pasando por esa zona del
    circuito en ese momento. En caso de usarla de forma indebida, podrá ser
    sancionado por el Comisario.
    <br /><br />

    Se utilizará un sistema de "Carnet de Puntos" similar al utilizado en la F1
    real. Cada piloto contará con 10 puntos, y por cada acción por la que sea
    sancionada se le retirarán puntos del carnet. <br /><br />

    De misma manera, por encadenar varios GPs sin incidentes, se podrán sumar
    puntos al carnet, nunca sin sobrepasar los 10 iniciales.<br /><br />

    Según la acción se retirarán puntos:<br /><br />

    <ul>
      <li>Sanción de tiempo = -1 punto</li>
      <li>Sanción de posiciones de parrilla = -1 punto</li>
      <li>Sanción de no clasificar o descalificación = 2 puntos</li>
    </ul>

    Cuando un piloto se quede sin puntos, no podrá participar en el próximo Gran
    Premio.<br /><br />

    Las sanciones por el juego de carácter "provocar un choque" podrán ser
    revisables, pero las de "saltarse una curva" no.<br /><br />

    Si un piloto es notificado de lag y causa un accidente podrá ser penalizado
    con +10s extras a la sanción que se le imponga. Esta sanción se aplicaría en
    la carrera donde ocurra o en la siguiente.
  </div>
</div>
