<div [formGroup]="testForm">
  <h3>Clasificación</h3>
  <div
    formArrayName="qualifying"
    *ngFor="let item of testForm.get('qualifying').controls; let i = index"
  >
    <div [formGroupName]="i">
      <input formControlName="driver" placeholder="Piloto" />
      <select formControlName="team">
        <option *ngFor="let team of teamsList" [value]="team.teamName">{{team.teamName}}</option>
      </select>
      <select formControlName="teamId">
        <option *ngFor="let team of teamsList" [value]="team.teamId">{{team.teamName}}</option>
      </select>
      <select formControlName="tyre">
        <option *ngFor="let tyre of tyres" [value]="tyre">{{tyre}}</option>
      </select>
      <input formControlName="time" placeholder="Tiempo" />
      <input formControlName="difference" placeholder="Diferencia" />
    </div>
  </div>
  <button (click)="addQualyDriver()">Añadir piloto qualy</button>

  <h3>Carrera</h3>
  <div
    formArrayName="race"
    *ngFor="let item of testForm.get('race').controls; let i = index"
  >
    <div [formGroupName]="i">
      <input formControlName="driver" placeholder="Piloto" />
      <select formControlName="team">
        <option *ngFor="let team of teamsList" [value]="team.teamName">{{team.teamName}}</option>
      </select>
      <select formControlName="teamId">
        <option *ngFor="let team of teamsList" [value]="team.teamId">{{team.teamName}}</option>
      </select>
      <input formControlName="time" placeholder="Tiempo" />
      <input formControlName="points" placeholder="Puntos" />
    </div>
  </div>
  <button (click)="addRaceDriver()">Añadir piloto carrera</button>
</div>
<br />
<button (click)="sendForm(testForm.value)">Enviar</button>
