h4,
h5 {
    font-family: "customFont";
}

h5 {
    font-size: 16px;
}

table.mat-table {
    width: 100% !important;
}

.podium-driver {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-top-right-radius: 10px;

    .driver {
        padding-right: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .position {
        display: block;
        font-size: 32px;
        font-family: "customFont-bold";
    }

    .driver-name {
        text-align: right;
        text-transform: uppercase;
        display: block;
        font-family: "customFont";
        font-size: 13px;
        letter-spacing: 0.2px;
    }

    .team {
        font-family: "customFont";
        color: #67676d;
        font-size: 11px;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .background-pattern {
        background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png);
        background-size: 12px;
        background-repeat: repeat;
        background-size: 8px;
        padding: 13px;
        margin-right: 5px;
        text-align: center;
    }
}

.countdown {
    font-family: "customFont";
    margin-top: 15px;
    padding: 15px;
    background-color: #333;
    height: 75px;
    color: white;

    .number {
        font-size: 39px;
        margin-right: 5px;
    }

    .text {
        font-size: 12px;
        margin-right: 10px;
    }
}

.next-gp {
    margin-top: 1px;
    font-size: 16px;
    font-family: "customFont";
    color: #111;
    min-height: 40px;
    height: auto;
    position: relative;
    padding: 10px;
    margin-bottom: 0;
}

.mat-card {
    padding: 0;
    box-shadow: 0 0px 20px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.calendar-gp,
.mat-card:active {
    outline: none;
}

.cal-country {
    font-size: 18px;
    font-family: "customFont";
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    z-index: 10;

    .cal-title-date {
        color: #bbb;
        margin-left: 5px;
    }
}

.cal-title {
    font-size: 30px;
    font-family: "customFont-bold";
    color: #ffb713;
    margin-left: 50px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.calendar-gp,
.gp-card:hover {
    cursor: pointer;
}

.next-gp::after {
    content: " ";
    height: 150px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0)),
        color-stop(35%, rgba(0, 0, 0, 0)),
        color-stop(100%, rgba(0, 0, 0, 0.9))
    );
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.australia {
    background: url(../../../assets/images/circuits/australia.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.bahrain {
    background: url(../../../assets/images/circuits/bahrain.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.china {
    background: url(../../../assets/images/circuits/china.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.azerbaijan {
    background: url(../../../assets/images/circuits/azerbaijan.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.spain {
    background: url(../../../assets/images/circuits/spain.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.monaco {
    background: url(../../../assets/images/circuits/monaco.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.netherlands {
    background: url(../../../assets/images/circuits/netherlands.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.canada {
    background: url(../../../assets/images/circuits/bahrain.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.france {
    background: url(../../../assets/images/circuits/france.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.austria {
    background: url(../../../assets/images/circuits/austria.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.great-britain {
    background: url(../../../assets/images/circuits/great-britain.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

// .germany {
//     background: url(../../../assets/images/circuits/germany.jpg);
//     height: 200px;
//     background-size: cover;
//     background-position-y: center;
// }

.hungary {
    background: url(../../../assets/images/circuits/hungary.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.belgium {
    background: url(../../../assets/images/circuits/belgium.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.italy {
    background: url(../../../assets/images/circuits/italy.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.singapore {
    background: url(../../../assets/images/circuits/singapore.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.russia {
    background: url(../../../assets/images/circuits/russia.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.japan {
    background: url(../../../assets/images/circuits/japan.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.mexico {
    background: url(../../../assets/images/circuits/mexico.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.usa {
    background: url(../../../assets/images/circuits/usa.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.brazil {
    background: url(../../../assets/images/circuits/brazil.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

.abu-dhabi {
    background: url(../../../assets/images/circuits/abu-dhabi.jpg);
    height: 200px;
    background-size: cover;
    background-position-y: center;
}

@media (max-width: 992px) {
    .countdown {
        .number {
            font-size: 20px;
        }

        .text {
            font-size: 11px;
        }
    }
}

@media (max-width: 767px) {
    .cal-title {
        font-size: 30px;
        color: #ffb713;
        margin-left: 10px;
    }

    .cal-country {
        margin-left: 10px;
        font-size: 12px;
        margin-top: -42px;
    }
}
