<div [formGroup]="testForm">
  <h3>Clasificación</h3>
  <div
    formArrayName="qualifying"
    *ngFor="let item of testForm.get('qualifying').controls; let i = index"
  >
    <div [formGroupName]="i">
      <input formControlName="driver" placeholder="Piloto" />
      <input formControlName="team" placeholder="Equipo" />
      <input formControlName="teamId" placeholder="ID Equipo" />
      <input formControlName="tyre" placeholder="Neumático" />
      <input formControlName="time" placeholder="Tiempo" />
      <input formControlName="difference" placeholder="Diferencia" />
    </div>
  </div>
  <button (click)="addQualyDriver()">Añadir piloto qualy</button>

  <h3>Carrera</h3>
  <div
    formArrayName="race"
    *ngFor="let item of testForm.get('race').controls; let i = index"
  >
    <div [formGroupName]="i">
      <input formControlName="driver" placeholder="Piloto" />
      <input formControlName="team" placeholder="Equipo" />
      <input formControlName="teamId" placeholder="ID Equipo" />
      <input formControlName="time" placeholder="Tiempo" />
      <input formControlName="points" placeholder="Puntos" />
    </div>
  </div>
  <button (click)="addRaceDriver()">Añadir piloto carrera</button>
</div>
<br />
<button (click)="sendForm(testForm.value)">Enviar</button>
