<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="over" style="top:56px;">
  	<mat-nav-list>
      <mat-list-item [routerLink]="['/home']" (click)="drawer.toggle()">Inicio</mat-list-item>
      <mat-list-item [routerLink]="['/drivers-teams']" (click)="drawer.toggle()">Escuderías y pilotos</mat-list-item>
      <mat-list-item [routerLink]="['/standings']" (click)="drawer.toggle()">Clasificaciones</mat-list-item>
      <mat-list-item [routerLink]="['/regulation']" (click)="drawer.toggle()">Reglamento</mat-list-item>
      <mat-list-item [routerLink]="['/schedule']" (click)="drawer.toggle()">Grandes Premios</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <div class="mobile">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="menu-spacer mr-2"></span>
      </div>
      <div>
        <img
          src="../assets/images/formula-payo-web.png"
          width="100px"
          [routerLink]="['/home']"
        />
      </div>
      <span class="menu-spacer mr-4"></span>
      <div class="desktop">
        <button mat-button [routerLink]="'/drivers-teams'">Escuderías y pilotos</button>
        <button mat-button [routerLink]="'/standings'">Clasificaciones</button>
        <button mat-button [routerLink]="'/regulation'">Reglamento</button>
        <button mat-button [routerLink]="'/schedule'">Grandes Premios</button>
      </div>
    </mat-toolbar>

    <div style="margin-top: 76px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
