<mat-toolbar color="primary">
  <div>
    <img src="../assets/images/formula-payo-web.png" width="100px" />
  </div>
  <span class="menu-spacer mr-4"></span>
  <div>
    <button mat-button [routerLink]="'/home'">Inicio</button>
    <button mat-button [routerLink]="'/drivers-teams'">Escuderías y pilotos</button>
    <button mat-button [routerLink]="'/standings'">Clasificaciones</button>
    <!-- <button mat-button [matMenuTriggerFor]="menu">Clasificaciones</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Pilotos</button>
      <button mat-menu-item>Constructores</button>
    </mat-menu> -->
    <button mat-button [routerLink]="'/regulation'">Reglamento</button>
    <button mat-button [routerLink]="'/schedule'">Grandes Premios</button>
  </div>
</mat-toolbar>

<div style="margin-top: 80px;">
  <router-outlet></router-outlet>
</div>
