<div class="container mb-4">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <img
          class="mr-1"
          src="../../../assets/images/helmet.svg"
          width="22px"
        />
        Pilotos
      </ng-template>
      <table mat-table [dataSource]="driverStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Driver Column -->
        <ng-container matColumnDef="driver">
          <th mat-header-cell *matHeaderCellDef>PILOTO</th>
          <td class="driver-name" mat-cell *matCellDef="let element">
            {{ element.data.driver }}
          </td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef>EQUIPO</th>
          <td class="team-name" mat-cell *matCellDef="let element">
            <span class="mr-2" [ngClass]="element.data.teamId"></span
            >{{ element.data.team }}
          </td>
        </ng-container>

        <!-- Car Column -->
        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef>COCHE</th>
          <td mat-cell *matCellDef="let element">
            <img
              class="car-img"
              [src]="
                '../../../assets/images/cars-full/' + element?.data.teamId + '.png'
              "
            />
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="driversStandingsDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: driversStandingsDisplayedColumns"
        ></tr>
      </table>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="mr-1" src="../../../assets/images/team.svg" width="22px" />
        Escuderías
      </ng-template>

      <table mat-table [dataSource]="teamStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef>EQUIPO</th>
          <td class="team-name" mat-cell *matCellDef="let element">
            <span class="mr-2" [ngClass]="element.data.id"></span
            >{{ element.data.team }}
          </td>
        </ng-container>

        <!-- Car Column -->
        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef>COCHE</th>
          <td mat-cell *matCellDef="let element">
            <img
              [src]="'../../../assets/images/cars-full/' + element?.data.id + '.png'" width="120px"
            />
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="teamStandingsDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: teamStandingsDisplayedColumns"
        ></tr>
      </table>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="mr-1" src="../../../assets/images/flag.svg" width="24px" />
        Carreras
      </ng-template>
      <table mat-table [dataSource]="driverStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Driver Column -->
        <ng-container matColumnDef="driver">
          <th mat-header-cell *matHeaderCellDef>PILOTO</th>
          <td class="driver-name" mat-cell *matCellDef="let element">
            <span class="mr-2"></span>{{ element.data.driver }}
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        Symbol Column
        <ng-container matColumnDef="aut">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/austria']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/aut.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">AUT</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.AUT?.position === 1,
                second: element?.data?.AUT?.position === 2,
                third: element?.data?.AUT?.position === 3,
                points:
                  element?.data?.AUT?.position > 3 &&
                  element?.data?.AUT?.position <= 10,
                tenth: element?.data?.AUT?.position === 10,
                'no-points': element?.data?.AUT?.position > 10,
                dnf: element?.data?.AUT?.dnf === true,
                dsq: element?.data?.AUT?.dsq === true,
                'fastest-lap': element?.data?.AUT?.fastestLap === true
              }"
            >
              {{ element?.data?.AUT?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="hun">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/hungary']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/hun.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">HUN</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.HUN?.position === 1,
                second: element?.data?.HUN?.position === 2,
                third: element?.data?.HUN?.position === 3,
                points:
                  element?.data?.HUN?.position > 3 &&
                  element?.data?.HUN?.position <= 10,
                tenth: element?.data?.HUN?.position === 10,
                'no-points': element?.data?.HUN?.position > 10,
                dnf: element?.data?.HUN?.dnf === true,
                dsq: element?.data?.HUN?.dsq === true,
                'fastest-lap': element?.data?.HUN?.fastestLap === true
              }"
            >
              {{ element?.data?.HUN?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="aus">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/australia']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/aus.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">AUS</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.AUS?.position === 1,
                second: element?.data?.AUS?.position === 2,
                third: element?.data?.AUS?.position === 3,
                points:
                  element?.data?.AUS?.position > 3 &&
                  element?.data?.AUS?.position <= 10,
                tenth: element?.data?.AUS?.position === 10,
                'no-points': element?.data?.AUS?.position > 10,
                dnf: element?.data?.AUS?.dnf === true,
                dsq: element?.data?.AUS?.dsq === true,
                'fastest-lap': element?.data?.AUS?.fastestLap === true
              }"
            >
              {{ element?.data?.AUS?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="gbr">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/great-britain']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/gbr.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">GBR</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.GBR?.position === 1,
                second: element?.data?.GBR?.position === 2,
                third: element?.data?.GBR?.position === 3,
                points:
                  element?.data?.GBR?.position > 3 &&
                  element?.data?.GBR?.position <= 10,
                tenth: element?.data?.GBR?.position === 10,
                'no-points': element?.data?.GBR?.position > 10,
                dnf: element?.data?.GBR?.dnf === true,
                dsq: element?.data?.GBR?.dsq === true,
                'fastest-lap': element?.data?.GBR?.fastestLap === true
              }"
            >
              {{ element?.data?.GBR?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="hol">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/netherlands']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/hol.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">HOL</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.HOL?.position === 1,
                second: element?.data?.HOL?.position === 2,
                third: element?.data?.HOL?.position === 3,
                points:
                  element?.data?.HOL?.position > 3 &&
                  element?.data?.BRN?.position <= 10,
                tenth: element?.data?.HOL?.position === 10,
                'no-points': element?.data?.HOL?.position > 10,
                dnf: element?.data?.HOL?.dnf === true,
                dsq: element?.data?.HOL?.dsq === true,
                'fastest-lap': element?.data?.HOL?.fastestLap === true
              }"
            >
              {{ element?.data?.HOL?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="esp">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/spain']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/esp.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">ESP</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.ESP?.position === 1,
                second: element?.data?.ESP?.position === 2,
                third: element?.data?.ESP?.position === 3,
                points:
                  element?.data?.ESP?.position > 3 &&
                  element?.data?.ESP?.position <= 10,
                tenth: element?.data?.ESP?.position === 10,
                'no-points': element?.data?.ESP?.position > 10,
                dnf: element?.data?.ESP?.dnf === true,
                dsq: element?.data?.ESP?.dsq === true,
                'fastest-lap': element?.data?.ESP?.fastestLap === true
              }"
            >
              {{ element?.data?.ESP?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mon">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/monaco']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/mon.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">MON</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.MON?.position === 1,
                second: element?.data?.MON?.position === 2,
                third: element?.data?.MON?.position === 3,
                points:
                  element?.data?.MON?.position > 3 &&
                  element?.data?.MON?.position <= 10,
                tenth: element?.data?.MON?.position === 10,
                'no-points': element?.data?.MON?.position > 10,
                dnf: element?.data?.MON?.dnf === true,
                dsq: element?.data?.MON?.dsq === true,
                'fastest-lap': element?.data?.MON?.fastestLap === true
              }"
            >
              {{ element?.data?.MON?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="bel">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/belgium']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/bel.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">BEL</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.BEL?.position === 1,
                second: element?.data?.BEL?.position === 2,
                third: element?.data?.BEL?.position === 3,
                points:
                  element?.data?.BEL?.position > 3 &&
                  element?.data?.BEL?.position <= 10,
                tenth: element?.data?.BEL?.position === 10,
                'no-points': element?.data?.BEL?.position > 10,
                dnf: element?.data?.BEL?.dnf === true,
                dsq: element?.data?.BEL?.dsq === true,
                'fastest-lap': element?.data?.BEL?.fastestLap === true
              }"
            >
              {{ element?.data?.BEL?.position }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ita">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/italy']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/ita.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">ITA</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.ITA?.position === 1,
                second: element?.data?.ITA?.position === 2,
                third: element?.data?.ITA?.position === 3,
                points:
                  element?.data?.ITA?.position > 3 &&
                  element?.data?.ITA?.position <= 10,
                tenth: element?.data?.ITA?.position === 10,
                'no-points': element?.data?.ITA?.position > 10,
                dnf: element?.data?.ITA?.dnf === true,
                dsq: element?.data?.ITA?.dsq === true,
                'fastest-lap': element?.data?.ITA?.fastestLap === true
              }"
            >
              {{ element?.data?.ITA?.position }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="racesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: racesDisplayedColumns"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>

<button class="btn" (click)="createDriver()">Crear</button>
