<div class="container mb-4">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <img
          class="mr-1"
          src="../../../assets/images/helmet.svg"
          width="22px"
        />
        Pilotos
      </ng-template>
      <table mat-table [dataSource]="driverStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Driver Column -->
        <ng-container matColumnDef="driver">
          <th mat-header-cell *matHeaderCellDef>PILOTO</th>
          <td class="driver-name" mat-cell *matCellDef="let element">
            {{ element.data.driver }}
          </td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef>EQUIPO</th>
          <td class="team-name" mat-cell *matCellDef="let element">
            <span class="mr-2" [ngClass]="element.data.teamId"></span
            >{{ element.data.team }}
          </td>
        </ng-container>

        <!-- Car Column -->
        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef>COCHE</th>
          <td mat-cell *matCellDef="let element">
            <img
              class="car-img"
              [src]="
                '../../../assets/images/cars-full/' + element?.data.teamId + '.png'
              "
            />
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="driversStandingsDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: driversStandingsDisplayedColumns"
        ></tr>
      </table>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="mr-1" src="../../../assets/images/team.svg" width="22px" />
        Escuderías
      </ng-template>

      <table mat-table [dataSource]="teamStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef>EQUIPO</th>
          <td class="team-name" mat-cell *matCellDef="let element">
            <span class="mr-2" [ngClass]="element.data.id"></span
            >{{ element.data.team }}
          </td>
        </ng-container>

        <!-- Car Column -->
        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef>COCHE</th>
          <td mat-cell *matCellDef="let element">
            <img
              [src]="'../../../assets/images/cars-full/' + element?.data.id + '.png'" width="120px"
            />
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="teamStandingsDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: teamStandingsDisplayedColumns"
        ></tr>
      </table>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="mr-1" src="../../../assets/images/flag.svg" width="24px" />
        Carreras
      </ng-template>
      <table mat-table [dataSource]="driverStandings" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>POS</th>
          <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
        </ng-container>

        <!-- Driver Column -->
        <ng-container matColumnDef="driver">
          <th mat-header-cell *matHeaderCellDef>PILOTO</th>
          <td class="driver-name" mat-cell *matCellDef="let element">
            <span class="mr-2"></span>{{ element.data.driver }}
          </td>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            PUNTOS
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.data.points }}
          </td>
        </ng-container>

        <!-- AUT Column -->
        <ng-container matColumnDef="aut">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/austria']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/aut.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">AUT</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.AUT?.position === 1,
                second: element?.data?.AUT?.position === 2,
                third: element?.data?.AUT?.position === 3,
                points:
                  element?.data?.AUT?.position > 3 &&
                  element?.data?.AUT?.position <= 10,
                tenth: element?.data?.AUT?.position === 10,
                'no-points': element?.data?.AUT?.position > 10,
                dnf: element?.data?.AUT?.dnf === true,
                dsq: element?.data?.AUT?.dsq === true,
                'fastest-lap': element?.data?.AUT?.fastestLap === true
              }"
            >
              {{ element?.data?.AUT?.position }}
            </span>
          </td>
        </ng-container>

        <!-- HUN Column -->
        <ng-container matColumnDef="hun">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/hungary']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/hun.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">HUN</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.HUN?.position === 1,
                second: element?.data?.HUN?.position === 2,
                third: element?.data?.HUN?.position === 3,
                points:
                  element?.data?.HUN?.position > 3 &&
                  element?.data?.HUN?.position <= 10,
                tenth: element?.data?.HUN?.position === 10,
                'no-points': element?.data?.HUN?.position > 10,
                dnf: element?.data?.HUN?.dnf === true,
                dsq: element?.data?.HUN?.dsq === true,
                'fastest-lap': element?.data?.HUN?.fastestLap === true
              }"
            >
              {{ element?.data?.HUN?.position }}
            </span>
          </td>
        </ng-container>

        <!-- AUS Column -->
        <ng-container matColumnDef="aus">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/australia']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/aus.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">AUS</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.AUS?.position === 1,
                second: element?.data?.AUS?.position === 2,
                third: element?.data?.AUS?.position === 3,
                points:
                  element?.data?.AUS?.position > 3 &&
                  element?.data?.AUS?.position <= 10,
                tenth: element?.data?.AUS?.position === 10,
                'no-points': element?.data?.AUS?.position > 10,
                dnf: element?.data?.AUS?.dnf === true,
                dsq: element?.data?.AUS?.dsq === true,
                'fastest-lap': element?.data?.AUS?.fastestLap === true
              }"
            >
              {{ element?.data?.AUS?.position }}
            </span>
          </td>
        </ng-container>

        <!-- GBR Column -->
        <ng-container matColumnDef="gbr">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/great-britain']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/gbr.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">GBR</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.GBR?.position === 1,
                second: element?.data?.GBR?.position === 2,
                third: element?.data?.GBR?.position === 3,
                points:
                  element?.data?.GBR?.position > 3 &&
                  element?.data?.GBR?.position <= 10,
                tenth: element?.data?.GBR?.position === 10,
                'no-points': element?.data?.GBR?.position > 10,
                dnf: element?.data?.GBR?.dnf === true,
                dsq: element?.data?.GBR?.dsq === true,
                'fastest-lap': element?.data?.GBR?.fastestLap === true
              }"
            >
              {{ element?.data?.GBR?.position }}
            </span>
          </td>
        </ng-container>

        <!-- CHN Column -->
        <ng-container matColumnDef="chn">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/china']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/chn.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">CHN</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.CHN?.position === 1,
                second: element?.data?.CHN?.position === 2,
                third: element?.data?.CHN?.position === 3,
                points:
                  element?.data?.CHN?.position > 3 &&
                  element?.data?.BRN?.position <= 10,
                tenth: element?.data?.CHN?.position === 10,
                'no-points': element?.data?.CHN?.position > 10,
                dnf: element?.data?.CHN?.dnf === true,
                dsq: element?.data?.CHN?.dsq === true,
                'fastest-lap': element?.data?.CHN?.fastestLap === true
              }"
            >
              {{ element?.data?.CHN?.position }}
            </span>
          </td>
        </ng-container>

        <!-- ESP Column -->
        <ng-container matColumnDef="esp">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/spain']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/esp.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">ESP</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.ESP?.position === 1,
                second: element?.data?.ESP?.position === 2,
                third: element?.data?.ESP?.position === 3,
                points:
                  element?.data?.ESP?.position > 3 &&
                  element?.data?.ESP?.position <= 10,
                tenth: element?.data?.ESP?.position === 10,
                'no-points': element?.data?.ESP?.position > 10,
                dnf: element?.data?.ESP?.dnf === true,
                dsq: element?.data?.ESP?.dsq === true,
                'fastest-lap': element?.data?.ESP?.fastestLap === true
              }"
            >
              {{ element?.data?.ESP?.position }}
            </span>
          </td>
        </ng-container>

        <!-- HOL Column -->
        <ng-container matColumnDef="hol">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/netherlands']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/hol.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">HOL</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.HOL?.position === 1,
                second: element?.data?.HOL?.position === 2,
                third: element?.data?.HOL?.position === 3,
                points:
                  element?.data?.HOL?.position > 3 &&
                  element?.data?.BRN?.position <= 10,
                tenth: element?.data?.HOL?.position === 10,
                'no-points': element?.data?.HOL?.position > 10,
                dnf: element?.data?.HOL?.dnf === true,
                dsq: element?.data?.HOL?.dsq === true,
                'fastest-lap': element?.data?.HOL?.fastestLap === true
              }"
            >
              {{ element?.data?.HOL?.position }}
            </span>
          </td>
        </ng-container>

        <!-- BEL Column -->
        <ng-container matColumnDef="bel">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/belgium']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/bel.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">BEL</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.BEL?.position === 1,
                second: element?.data?.BEL?.position === 2,
                third: element?.data?.BEL?.position === 3,
                points:
                  element?.data?.BEL?.position > 3 &&
                  element?.data?.BEL?.position <= 10,
                tenth: element?.data?.BEL?.position === 10,
                'no-points': element?.data?.BEL?.position > 10,
                dnf: element?.data?.BEL?.dnf === true,
                dsq: element?.data?.BEL?.dsq === true,
                'fastest-lap': element?.data?.BEL?.fastestLap === true
              }"
            >
              {{ element?.data?.BEL?.position }}
            </span>
          </td>
        </ng-container>

        <!-- ITA Column -->
        <ng-container matColumnDef="ita">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/italy']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/ita.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">ITA</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.ITA?.position === 1,
                second: element?.data?.ITA?.position === 2,
                third: element?.data?.ITA?.position === 3,
                points:
                  element?.data?.ITA?.position > 3 &&
                  element?.data?.ITA?.position <= 10,
                tenth: element?.data?.ITA?.position === 10,
                'no-points': element?.data?.ITA?.position > 10,
                dnf: element?.data?.ITA?.dnf === true,
                dsq: element?.data?.ITA?.dsq === true,
                'fastest-lap': element?.data?.ITA?.fastestLap === true
              }"
            >
              {{ element?.data?.ITA?.position }}
            </span>
          </td>
        </ng-container>

        <!-- VIE Column -->
        <ng-container matColumnDef="vie">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/vietnam']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/vie.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">VIE</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.VIE?.position === 1,
                second: element?.data?.VIE?.position === 2,
                third: element?.data?.VIE?.position === 3,
                points:
                  element?.data?.VIE?.position > 3 &&
                  element?.data?.VIE?.position <= 10,
                tenth: element?.data?.ITA?.position === 10,
                'no-points': element?.data?.VIE?.position > 10,
                dnf: element?.data?.VIE?.dnf === true,
                dsq: element?.data?.VIE?.dsq === true,
                'fastest-lap': element?.data?.VIE?.fastestLap === true
              }"
            >
              {{ element?.data?.VIE?.position }}
            </span>
          </td>
        </ng-container>

        <!-- MON Column -->
        <ng-container matColumnDef="mon">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/monaco']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/mon.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">MON</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.MON?.position === 1,
                second: element?.data?.MON?.position === 2,
                third: element?.data?.MON?.position === 3,
                points:
                  element?.data?.MON?.position > 3 &&
                  element?.data?.MON?.position <= 10,
                tenth: element?.data?.MON?.position === 10,
                'no-points': element?.data?.MON?.position > 10,
                dnf: element?.data?.MON?.dnf === true,
                dsq: element?.data?.MON?.dsq === true,
                'fastest-lap': element?.data?.MON?.fastestLap === true
              }"
            >
              {{ element?.data?.MON?.position }}
            </span>
          </td>
        </ng-container>

        <!-- AZE Column -->
        <ng-container matColumnDef="aze">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/azerbaijan']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/aze.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">AZE</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.AZE?.position === 1,
                second: element?.data?.AZE?.position === 2,
                third: element?.data?.AZE?.position === 3,
                points:
                  element?.data?.AZE?.position > 3 &&
                  element?.data?.AZE?.position <= 10,
                tenth: element?.data?.AZE?.position === 10,
                'no-points': element?.data?.AZE?.position > 10,
                dnf: element?.data?.AZE?.dnf === true,
                dsq: element?.data?.AZE?.dsq === true,
                'fastest-lap': element?.data?.AZE?.fastestLap === true
              }"
            >
              {{ element?.data?.AZE?.position }}
            </span>
          </td>
        </ng-container>

        <!-- RUS Column -->
        <ng-container matColumnDef="rus">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/russia']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/rus.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">RUS</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.RUS?.position === 1,
                second: element?.data?.RUS?.position === 2,
                third: element?.data?.RUS?.position === 3,
                points:
                  element?.data?.RUS?.position > 3 &&
                  element?.data?.RUS?.position <= 10,
                tenth: element?.data?.RUS?.position === 10,
                'no-points': element?.data?.RUS?.position > 10,
                dnf: element?.data?.RUS?.dnf === true,
                dsq: element?.data?.RUS?.dsq === true,
                'fastest-lap': element?.data?.RUS?.fastestLap === true
              }"
            >
              {{ element?.data?.RUS?.position }}
            </span>
          </td>
        </ng-container>

        <!-- CAN Column -->
        <ng-container matColumnDef="can">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/canada']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/can.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">CAN</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.CAN?.position === 1,
                second: element?.data?.CAN?.position === 2,
                third: element?.data?.CAN?.position === 3,
                points:
                  element?.data?.CAN?.position > 3 &&
                  element?.data?.CAN?.position <= 10,
                tenth: element?.data?.CAN?.position === 10,
                'no-points': element?.data?.CAN?.position > 10,
                dnf: element?.data?.CAN?.dnf === true,
                dsq: element?.data?.CAN?.dsq === true,
                'fastest-lap': element?.data?.CAN?.fastestLap === true
              }"
            >
              {{ element?.data?.CAN?.position }}
            </span>
          </td>
        </ng-container>

        <!-- FRA Column -->
        <ng-container matColumnDef="fra">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/france']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/fra.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">FRA</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.FRA?.position === 1,
                second: element?.data?.FRA?.position === 2,
                third: element?.data?.FRA?.position === 3,
                points:
                  element?.data?.FRA?.position > 3 &&
                  element?.data?.FRA?.position <= 10,
                tenth: element?.data?.FRA?.position === 10,
                'no-points': element?.data?.FRA?.position > 10,
                dnf: element?.data?.FRA?.dnf === true,
                dsq: element?.data?.FRA?.dsq === true,
                'fastest-lap': element?.data?.FRA?.fastestLap === true
              }"
            >
              {{ element?.data?.FRA?.position }}
            </span>
          </td>
        </ng-container>

        <!-- SIN Column -->
        <ng-container matColumnDef="sin">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/singapore']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/sin.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">SIN</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.SIN?.position === 1,
                second: element?.data?.SIN?.position === 2,
                third: element?.data?.SIN?.position === 3,
                points:
                  element?.data?.SIN?.position > 3 &&
                  element?.data?.SIN?.position <= 10,
                tenth: element?.data?.SIN?.position === 10,
                'no-points': element?.data?.SIN?.position > 10,
                dnf: element?.data?.SIN?.dnf === true,
                dsq: element?.data?.SIN?.dsq === true,
                'fastest-lap': element?.data?.SIN?.fastestLap === true
              }"
            >
              {{ element?.data?.SIN?.position }}
            </span>
          </td>
        </ng-container>

        <!-- JAP Column -->
        <ng-container matColumnDef="jap">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/japan']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/jap.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">JAP</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.JAP?.position === 1,
                second: element?.data?.JAP?.position === 2,
                third: element?.data?.JAP?.position === 3,
                points:
                  element?.data?.JAP?.position > 3 &&
                  element?.data?.JAP?.position <= 10,
                tenth: element?.data?.JAP?.position === 10,
                'no-points': element?.data?.JAP?.position > 10,
                dnf: element?.data?.JAP?.dnf === true,
                dsq: element?.data?.JAP?.dsq === true,
                'fastest-lap': element?.data?.JAP?.fastestLap === true
              }"
            >
              {{ element?.data?.JAP?.position }}
            </span>
          </td>
        </ng-container>

        <!-- MEX Column -->
        <ng-container matColumnDef="mex">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/mexico']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/mex.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">MEX</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.MEX?.position === 1,
                second: element?.data?.MEX?.position === 2,
                third: element?.data?.MEX?.position === 3,
                points:
                  element?.data?.MEX?.position > 3 &&
                  element?.data?.MEX?.position <= 10,
                tenth: element?.data?.MEX?.position === 10,
                'no-points': element?.data?.MEX?.position > 10,
                dnf: element?.data?.MEX?.dnf === true,
                dsq: element?.data?.MEX?.dsq === true,
                'fastest-lap': element?.data?.MEX?.fastestLap === true
              }"
            >
              {{ element?.data?.MEX?.position }}
            </span>
          </td>
        </ng-container>

        <!-- USA Column -->
        <ng-container matColumnDef="usa">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/usa']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/usa.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">USA</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.USA?.position === 1,
                second: element?.data?.USA?.position === 2,
                third: element?.data?.USA?.position === 3,
                points:
                  element?.data?.USA?.position > 3 &&
                  element?.data?.USA?.position <= 10,
                tenth: element?.data?.USA?.position === 10,
                'no-points': element?.data?.USA?.position > 10,
                dnf: element?.data?.USA?.dnf === true,
                dsq: element?.data?.USA?.dsq === true,
                'fastest-lap': element?.data?.USA?.fastestLap === true
              }"
            >
              {{ element?.data?.USA?.position }}
            </span>
          </td>
        </ng-container>

        <!-- BRA Column -->
        <ng-container matColumnDef="bra">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/brazil']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/bra.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">BRA</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.BRA?.position === 1,
                second: element?.data?.BRA?.position === 2,
                third: element?.data?.BRA?.position === 3,
                points:
                  element?.data?.BRA?.position > 3 &&
                  element?.data?.BRA?.position <= 10,
                tenth: element?.data?.BRA?.position === 10,
                'no-points': element?.data?.BRA?.position > 10,
                dnf: element?.data?.BRA?.dnf === true,
                dsq: element?.data?.BRA?.dsq === true,
                'fastest-lap': element?.data?.BRA?.fastestLap === true
              }"
            >
              {{ element?.data?.BRA?.position }}
            </span>
          </td>
        </ng-container>

        <!-- BAH Column -->
        <ng-container matColumnDef="bah">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/bahrain']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/brn.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">BAH</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.BAH?.position === 1,
                second: element?.data?.BAH?.position === 2,
                third: element?.data?.BAH?.position === 3,
                points:
                  element?.data?.BAH?.position > 3 &&
                  element?.data?.BAH?.position <= 10,
                tenth: element?.data?.BAH?.position === 10,
                'no-points': element?.data?.BAH?.position > 10,
                dnf: element?.data?.BAH?.dnf === true,
                dsq: element?.data?.BAH?.dsq === true,
                'fastest-lap': element?.data?.BAH?.fastestLap === true
              }"
            >
              {{ element?.data?.BAH?.position }}
            </span>
          </td>
        </ng-container>

        <!-- ABU Column -->
        <ng-container matColumnDef="abu">
          <th
            class="gp"
            mat-header-cell
            *matHeaderCellDef
            [routerLink]="['/schedule/abu-dhabi']"
            style="text-align: center;"
          >
            <img
              src="https://as01.epimg.net/img/carrusel/escudos/banderas/21_24/uae.png"
            />
            <br />
            <span style="border-bottom: 1px dotted">ABU</span>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <span
              [ngClass]="{
                first: element?.data?.ABU?.position === 1,
                second: element?.data?.ABU?.position === 2,
                third: element?.data?.ABU?.position === 3,
                points:
                  element?.data?.ABU?.position > 3 &&
                  element?.data?.ABU?.position <= 10,
                tenth: element?.data?.ABU?.position === 10,
                'no-points': element?.data?.ABU?.position > 10,
                dnf: element?.data?.ABU?.dnf === true,
                dsq: element?.data?.ABU?.dsq === true,
                'fastest-lap': element?.data?.ABU?.fastestLap === true
              }"
            >
              {{ element?.data?.ABU?.position }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="racesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: racesDisplayedColumns"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
