th:focus {
    outline: none;
}

.gp:hover {
    cursor: pointer;
}

.first {
    color: white;
    background: #ffd600;
    border-radius: 25%;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.second {
    color: white;
    background: #c0c0c0;
    border-radius: 25%;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.third {
    color: white;
    background: #CC8131;
    border-radius: 25%;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.points {
    background: #75d475;
    border-radius: 25%;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.tenth {
    background: #75d475;
    border-radius: 25%;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
}

.no-points {
    background: #9f9fff;
    border-radius: 25%;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
}

.dnf {
    background: #d7a3ff;
    border-radius: 25%;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
}

.dsq {
    background: black;
    border-radius: 25%;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.fastest-lap {
    // border: 2px dotted red;
    box-shadow: inset 0 0 0 2px #a211c7;
}

.ferrari {
    border-left: 3px solid #DC0000;
    height: 16px;
    margin-right: 2px;
}

.mercedes {
    border-left: 3px solid #00D2BE;
    height: 16px;
    margin-right: 2px;
}

.mclaren {
    border-left: 3px solid #FF8700;
    height: 16px;
    margin-right: 2px;
}

.red-bull {
    border-left: 3px solid #0600ef;
    height: 16px;
    margin-right: 2px;
}

.alpha-tauri {
    border-left: 3px solid #001F66;
    height: 16px;
    margin-right: 2px;
}

.haas {
    border-left: 3px solid #787878;
    height: 16px;
    margin-right: 2px;
}

.renault {
    border-left: 3px solid #FFF500;
    height: 16px;
    margin-right: 2px;
}

.alfa-romeo {
    border-left: 3px solid #960000;
    height: 16px;
    margin-right: 2px;
}

.williams {
    border-left: 3px solid #0082FA;
    height: 16px;
    margin-right: 2px;
}

.racing-point {
    border-left: 3px solid #F596C8;
    height: 16px;
    margin-right: 2px;
}

table {
    width: 100%;
    font-family: 'Titillium';
    font-size: 13px;
  }

table, thead, th, tbody, td {
    border: none !important;
}

.driver-name {
    font-family: 'Titillium-Semibold';
    white-space: nowrap;
}

.team-name {
    text-transform: uppercase;
    font-family: 'Titillium-Semibold';
    white-space: nowrap;
    color: gray;
}

.mat-row:nth-child(odd){
    background-color:#f4f4f4;
    }

.car-img {
    width: 90px;
}